@font-face {
    font-family: "Montserrat";
    src: url(Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Outfit";
    src: url(Fonts/Outfit/Outfit-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #787878;
}

.container-grid {
    width: 80vw;
    max-width: 1620px;
    margin: 0 auto;
}

.container-grid-center {
    width: 80vw;
    max-width: 1620px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#inicio-ola {
    width: 1920px;
    height: 1080px;
}

.texto-e-foto-ola {
    height: 1080px;
    display: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: -80px;
    position: absolute;
    max-width: 1620px;
    width: 1920px;
}

.texto-ola-segundo h1 {
    font-size: 96px;
    color: #ffff;
    font-family: "Outfit";
    font-weight: normal;
}

.texto-sou-vitor {
    display: flex;
    justify-content: baseline;
}

.texto-sou-vitor h1 {
    font-size: 64px;
    color: #ffff;
    font-family: "Outfit";
    font-weight: normal;
    margin-right: 15px;
}

.texto-sou-vitor h2 {
    font-size: 64px;
    color: #FF6332;
    font-family: "Outfit";
    font-weight: normal;
}

#inicio-ola img {
    width: 595px;
    height: 595px;
    border-radius: 360px;
    display: flex;
    justify-content: end;
    margin-right: 100px;
}

#sobre-mim {
    width: 1920px;
    height: 1080px;
    background-color: #535353;
    z-index: 1;
    display: unset;
    display: flex;
    justify-content: center;
    padding-top: 85px;
}

.segundo-section-sobre-mim-segundo {
    display: flex;
    justify-content: center;
}

.segundo-section-sobre-mim-segundo h1 {
    font-size: 64px;
    font-family: "Outfit";
    font-weight: normal;
    color: #FFFFFF;
    /* display: flex;
    justify-content: center; */
    height: 80px;
    width: 600px;
}

.dois-grupos-texto {
    margin-top: 85px;
    width: 760px;
    height: 600px;
}

.nome,
.idade,
.local,
.email,
.tempo-exp {
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-bottom: 65px;
}

.nome {
    width: 682px;
    height: 60px;
}

.idade {
    width: 319px;
    height: 60px;
}

.local {
    width: 759px;
    height: 60px;
}

.email {
    width: 614px;
    height: 60px;
}

.nome h1,
.idade h1,
.local h1,
.email h1,
.tempo-exp h1 {
    font-size: 48px;
    font-family: "Outfit";
    font-weight: normal;
    color: #FFFFFF;
}

.nome h2,
.idade h2,
.local h2,
.email h2,
.tempo-exp h2 {
    font-size: 32px;
    font-family: "Montserrat";
    font-weight: normal;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 10px;
}

#linha-vertical {
    width: 8px;
    height: 700px;
    border-right: 6px solid #FF6332;
    margin-left: 780px;
    margin-right: 810px;
    margin-top: -612px;
}

.texto-sobre {
    font-size: 32px;
    font-family: "Montserrat";
    font-weight: normal;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 10px;
    margin-left: 820px;
    margin-top: -695px;
    width: 710px;
}

.texto-sobre p {
    margin-bottom: 32px;
    text-align: justify;
}

#habilidade-conhecimento {
    width: 1920px;
    height: 1080px;
    padding-top: 85px;

}

.terceiro-section-habilidade h1 {
    font-size: 64px;
    font-family: "Outfit";
    font-weight: normal;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.icones-habilidade {
    display: flex;
    justify-content: center;
}

.icone-html,
.icone-css,
.icone-java,
.icone-ts,
.icone-github,
.icone-figma,
.icone-vsc,
.icone-trello,
.icone-miro,
.icone-git {
    width: 100px;
    height: 100px;
    background-color: #535353;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.grupo-html,
.grupo-css,
.grupo-java,
.grupo-ts,
.grupo-github,
.grupo-figma,
.grupo-vsc,
.grupo-trello,
.grupo-miro,
.grupo-git {
    width: 770px;
    margin-top: 50px;
}

.grupo-html-segundo,
.grupo-css-segundo,
.grupo-java-segundo,
.grupo-ts-segundo,
.grupo-github-segundo,
.grupo-figma-segundo,
.grupo-vsc-segundo,
.grupo-trello-segundo,
.grupo-miro-segundo,
.grupo-git-segundo {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.grupo-html-segundo h1,
.grupo-css-segundo h1,
.grupo-java-segundo h1,
.grupo-ts-segundo h1,
.grupo-github-segundo h1,
.grupo-figma-segundo h1,
.grupo-vsc-segundo h1,
.grupo-trello-segundo h1,
.grupo-miro-segundo h1,
.grupo-git-segundo h1 {
    font-size: 40px;
    font-family: "Montserrat";
    font-weight: normal;
    color: #FFFFFF;
    margin-left: 55px;
}

.barra-html,
.barra-css,
.barra-java,
.barra-java-segundo,
.barra-ts,
.barra-ts-segundo,
.barra-git-segundo,
.barra-github,
.barra-figma,
.barra-vsc,
.barra-trello,
.barra-miro,
.barra-git {
    background-color: #FF6332;
    width: 600px;
    height: 25px;
    border-radius: 10px;
    margin-top: 50px;

}

.grupo-barra-html,
.grupo-barra-css,
.grupo-barra-java,
.grupo-barra-ts,
.grupo-barra-github,
.grupo-barra-figma,
.grupo-barra-vsc,
.grupo-barra-trello,
.grupo-barra-miro,
.grupo-barra-git {
    display: flex;
    justify-content: baseline;
}

.grupo-barra-html p,
.grupo-barra-css p,
.grupo-barra-java p,
.grupo-barra-ts p,
.grupo-barra-github p,
.grupo-barra-figma p,
.grupo-barra-vsc p,
.grupo-barra-trello p,
.grupo-barra-miro p,
.grupo-barra-git p {
    font-size: 40px;
    font-family: "Montserrat";
    font-weight: normal;
    color: #FFFFFF;
    height: 40px;
    top: 10px;
    margin-top: 35px;
    margin-left: 35px;
}

.barra-java,
.barra-ts,
.barra-git {
    background-color: #FF633250;

}

.barra-java-segundo,
.barra-ts-segundo {
    width: 420px;
    opacity: 100%;
    margin: 0px;
}

.barra-git-segundo {
    width: 480px;
    opacity: 100%;
    margin: 0px;
}

.linha-vertical-habilidade {
    width: 6px;
    height: 1130px;
    background-color: #FF6332;
    margin-left: 810px;
    margin-top: -1080px;

}

.grupo-segundo-habilidade {
    margin-left: 875px;
    margin-top: -1175px;
}

