@font-face {
    font-family: "Montserrat";
    src: url(Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Outfit";
    src: url(Fonts/Outfit/Outfit-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #787878;
}

.container-grid {
    width: 80vw;
    max-width: 1620px;
    margin: 0 auto;
}

.container-grid-center {
    width: 80vw;
    max-width: 1620px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#inicio-ola {
    /* width: 1920px; */
    height: 1080px;
}

.texto-e-foto-ola {
    height: 1080px;
    display: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: -80px;
    position: absolute;
    max-width: 1620px;
    width: 1920px;
}

.texto-ola-segundo h1 {
    font-size: 96px;
    color: #ffff;
    font-family: "Outfit";
    font-weight: normal;
}

.texto-sou-vitor {
    display: flex;
    justify-content: baseline;
}

.texto-sou-vitor h1 {
    font-size: 64px;
    color: #ffff;
    font-family: "Outfit";
    font-weight: normal;
    margin-right: 15px;
}

.texto-sou-vitor h2 {
    font-size: 64px;
    color: #FF6332;
    font-family: "Outfit";
    font-weight: normal;
}

#inicio-ola img {
    width: 595px;
    height: 595px;
    border-radius: 360px;
    display: flex;
    justify-content: end;
    margin-right: 100px;
}

#sobre-mim {
    /* width: 1920px; */
    height: 1080px;
    background-color: #535353;
    z-index: 1;
    display: unset;
    display: flex;
    justify-content: center;
    padding-top: 85px;
}

.segundo-section-sobre-mim-segundo {
    display: flex;
    justify-content: center;
}

.segundo-section-sobre-mim-segundo h1 {
    font-size: 64px;
    font-family: "Outfit";
    font-weight: normal;
    color: #FFFFFF;
    /* display: flex;
    justify-content: center; */
    height: 80px;
    width: 600px;
}

.dois-grupos-texto {
    margin-top: 85px;
    width: 760px;
    height: 600px;
}

.nome,
.idade,
.local,
.email,
.tempo-exp {
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-bottom: 65px;
}

.nome {
    width: 682px;
    height: 60px;
}

.idade {
    width: 319px;
    height: 60px;
}

.local {
    width: 759px;
    height: 60px;
}

.email {
    width: 614px;
    height: 60px;
}

.nome h1,
.idade h1,
.local h1,
.email h1,
.tempo-exp h1 {
    font-size: 48px;
    font-family: "Outfit";
    font-weight: normal;
    color: #FFFFFF;
}

.nome h2,
.idade h2,
.local h2,
.email h2,
.tempo-exp h2 {
    font-size: 32px;
    font-family: "Montserrat";
    font-weight: normal;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 10px;
}

#linha-vertical {
    width: 8px;
    height: 700px;
    border-right: 6px solid #FF6332;
    margin-left: 780px;
    margin-right: 810px;
    margin-top: -612px;
}

.texto-sobre {
    font-size: 32px;
    font-family: "Montserrat";
    font-weight: normal;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 10px;
    margin-left: 820px;
    margin-top: -695px;
    width: 710px;
}

.texto-sobre p {
    margin-bottom: 32px;
    text-align: justify;
}

#habilidade-conhecimento {
    /* width: 1920px; */
    height: 1496px;
    padding-top: 85px;
}

.terceiro-section-habilidade h1 {
    font-size: 64px;
    font-family: "Outfit";
    font-weight: normal;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.icones-habilidade {
    display: flex;
    justify-content: center;
}

.icone-html,
.icone-css,
.icone-java,
.icone-ts,
.icone-github,
.icone-figma,
.icone-vsc,
.icone-trello,
.icone-miro,
.icone-git {
    width: 100px;
    height: 100px;
    background-color: #535353;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grupo-html,
.grupo-css,
.grupo-java,
.grupo-ts,
.grupo-github,
.grupo-figma,
.grupo-vsc,
.grupo-trello,
.grupo-miro,
.grupo-git {
    width: 770px;
    margin-top: 50px;
}

.grupo-html-segundo,
.grupo-css-segundo,
.grupo-java-segundo,
.grupo-ts-segundo,
.grupo-github-segundo,
.grupo-figma-segundo,
.grupo-vsc-segundo,
.grupo-trello-segundo,
.grupo-miro-segundo,
.grupo-git-segundo {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.grupo-html-segundo h1,
.grupo-css-segundo h1,
.grupo-java-segundo h1,
.grupo-ts-segundo h1,
.grupo-github-segundo h1,
.grupo-figma-segundo h1,
.grupo-vsc-segundo h1,
.grupo-trello-segundo h1,
.grupo-miro-segundo h1,
.grupo-git-segundo h1 {
    font-size: 40px;
    font-family: "Montserrat";
    font-weight: normal;
    color: #FFFFFF;
    margin-left: 55px;
}

.barra-html,
.barra-css,
.barra-java,
.barra-java-segundo,
.barra-ts,
.barra-ts-segundo,
.barra-git-segundo,
.barra-github,
.barra-figma,
.barra-vsc,
.barra-trello,
.barra-miro,
.barra-git {
    background-color: #FF6332;
    width: 600px;
    height: 25px;
    border-radius: 10px;
    margin-top: 50px;
}

.grupo-barra-html,
.grupo-barra-css,
.grupo-barra-java,
.grupo-barra-ts,
.grupo-barra-github,
.grupo-barra-figma,
.grupo-barra-vsc,
.grupo-barra-trello,
.grupo-barra-miro,
.grupo-barra-git {
    display: flex;
    justify-content: baseline;
}

.grupo-barra-html p,
.grupo-barra-css p,
.grupo-barra-java p,
.grupo-barra-ts p,
.grupo-barra-github p,
.grupo-barra-figma p,
.grupo-barra-vsc p,
.grupo-barra-trello p,
.grupo-barra-miro p,
.grupo-barra-git p {
    font-size: 40px;
    font-family: "Montserrat";
    font-weight: normal;
    color: #FFFFFF;
    height: 40px;
    top: 10px;
    margin-top: 35px;
    margin-left: 35px;
}

.barra-java,
.barra-ts,
.barra-git {
    background-color: #FF633250;
}

.barra-java-segundo,
.barra-ts-segundo {
    width: 420px;
    opacity: 100%;
    margin: 0px;
}

.barra-git-segundo {
    width: 480px;
    opacity: 100%;
    margin: 0px;
}

.linha-vertical-habilidade {
    width: 6px;
    height: 1130px;
    background-color: #FF6332;
    margin-left: 810px;
    margin-top: -1080px;
}

.grupo-segundo-habilidade {
    margin-left: 875px;
    margin-top: -1175px;
}

#portfolio {
    /* width: 1920px; */
    height: 1900px;
    background-color: #535353;
    padding-top: 100px;
}

.quarto-section-portfolio h1 {
    display: flex;
    justify-content: center;
    font-size: 64px;
    font-family: "Outfit";
    font-weight: normal;
    color: #FFFFFF;
}

.grupo-portfolio-top {
    margin-top: 100px;
}

.grupo-um-portfolio {
    width: 800px;
}

.grupo-um-portfolio-icones img,
.grupo-dois-portfolio-icones img,
.grupo-tres-portfolio-icones img,
.grupo-quatro-portfolio-icones img {
    margin-top: 30px;
    margin-bottom: 30px;
}

.grupo-um-portfolio-icones p,
.grupo-dois-portfolio-icones p,
.grupo-tres-portfolio-icones p,
.grupo-quatro-portfolio-icones p {
    font-size: 32px;
    font-family: "Montserrat";
    font-weight: normal;
    color: #FFFFFF;
    width: 800px;
    text-align: justify;
}

.grupo-dois-portfolio img {
    width: 800px;
}

.grupo-dois-portfolio-icones img {
    width: 450px;
    height: 50px;
}

.grupo-dois-portfolio {
    margin-left: 820px;
    margin-top: -574px;
}

.grupo-quatro-portfolio {
    margin-left: 820px;
    margin-top: -560px;
}

#contatos {
    padding-top: 100px;
    height: 585px;
}

.quinto-section-contatos h1 {
    font-size: 64px;
    font-family: "Outfit";
    font-weight: normal;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.grupo-contatos {
    margin-top: 100px;
}

.grupo-top-contatos,
.grupo-bottom-contatos {
    display: flex;
    justify-content: baseline;
}

.grupo-whatsapp,
.grupo-email,
.grupo-discord,
.grupo-github-contatos {
    display: flex;
    justify-content: baseline;
}

.grupo-whatsapp p, .grupo-email p {
    width: max-content;
}

.grupo-whatsapp p,
.grupo-email p,
.grupo-discord p,
.grupo-github-contatos p {
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 32px;
    font-family: "Montserrat";
    font-weight: normal;
    color: #FFFFFF;
}

.grupo-email {
    margin-left: 305px;
}

.grupo-github-contatos {
    margin-left: 336px;
}

.grupo-bottom-contatos {
    margin-top: 60px;
}

.grupo-discord img {
    width: 80px;
    height: 80px;
}

@media screen and (max-width: 1850px) {
    .grupo-dois-habilidades {
        margin-left: -70px;
    }
    .grupo-portfolio {
        margin-left: -90px;
    }
}

@media screen and (max-width: 1800px) {
    .segundo-section-sobre-mim {
        margin-left: -58px;
    }
    .texto-e-foto-ola {
        margin-left: 100px;
    }
}

@media screen and (max-width: 1750px) {
    .segundo-section-sobre-mim {
        margin-left: -58px;
    }
    .grupo-dois-habilidades {
        scale: 95%;
        margin-left: -95px;
    }
    .grupo-portfolio {
        scale: 95%;
        margin-left: -100px;
    }
}

@media screen and (max-width: 1720px) {
    .texto-e-foto-ola {
        scale: 95%;
        margin-left: 40px;
    }
}

@media screen and (max-width: 1700px) {
    .segundo-section-sobre-mim-segundo h1 {
        margin-left: 100px;
    }
    .segundo-section-sobre-mim {
        margin-left: -90px;
    }
    .grupo-dois-habilidades {
        margin-left: -125px;
        scale: 92%;
    }
    .grupo-portfolio {
        margin-top: -120px;
        margin-left: -120px;
        scale: 90%;
    }
    #portfolio {
        height: 1645px;
    }
}

@media screen and (max-width: 1650px) {
    #sobre-mim {
        height: 1000px;
    }
    .segundo-section-sobre-mim {
        margin-left: -110px;
        scale: 90%;
        margin-top: -55px;
    }
    #habilidade-conhecimento {
        height: 1480px;

    }
    .grupo-dois-habilidades {
        scale: 90%;
        margin-left: -135px;
    }
    .grupo-email {
        margin-left: 160px;
    }
    .grupo-github-contatos {
        margin-left: 190px;

    }
}

@media screen and (max-width: 1600px) {
    .texto-e-foto-ola {
        scale: 85%;
        margin-left: 70px;
    }
    .grupo-portfolio {
        margin-left: -160px;
        scale: 88%;
    }
}

@media screen and (max-width: 1550px) {
    .segundo-section-sobre-mim {
        margin-left: -145px;
    }
    #habilidade-conhecimento {
        height: 1230px;
    }
    .grupo-dois-habilidades {
        margin-left: -170px;
        scale: 82%;
        margin-top: -110px;
    }
    .grupo-portfolio {
        scale: 85%;
        margin-left: -170px;
    }
}

@media screen and (max-width: 1500px) {
    .grupo-portfolio {
        margin-left: -200px;
    }
}

@media screen and (max-width: 1450px) {
    #sobre-mim {
        height: 880px;
    }
    .segundo-section-sobre-mim {
        scale: 85%;
        margin-left: -175px;
    }
    .segundo-section-sobre-mim-segundo h1 {
        margin-left: 200px;
    }
    .grupo-dois-habilidades {
        margin-left: -200px;
        scale: 80%;
    }
    .quarto-section-portfolio {
        margin-top: -30px;
    }
    .grupo-portfolio {
        margin-top: -180px;
        margin-left: -200px;
        scale: 80%;
    }
    .grupo-contatos {
        scale: 90%;
        margin-left: -80px;
    }
}

@media screen and (max-width: 1440px) {
    #inicio-ola {
        height: 810px;
    }
    .texto-e-foto-ola {
        scale: 75%;
        margin-top: -55px;
    }
    #habilidade-conhecimento {
        height: 1170px;
    }
    .terceiro-section-habilidade h1 {
        margin-top: -25px;
    }
    #portfolio {
        height: 1440px;
    }
    #contatos {
        padding-top: 40px;
        height: 450px;
    }
    .grupo-contatos {
        margin-top: 40px;
    }
}
@media screen and (max-width: 1400px) {
    #inicio-ola {
        height: 758px;
    }
    .texto-e-foto-ola {
        scale: 70%;
        margin-top: -82px;
    }
    #sobre-mim {
        height: 735px;
    }
    .segundo-section-sobre-mim {
        scale: 75%;
        margin-left: -180px;
        margin-top: -115px;
    }
    #habilidade-conhecimento {
        height: 1060px;
    }
    .grupo-dois-habilidades {
        scale: 70%;
        margin-top: -200px;
    }
    .terceiro-section-habilidade h1 {
        scale: 80%;
    }
    .icones-habilidade {
        scale: 80%;
    }
    .quarto-section-portfolio h1 {
        scale: 80%;
    }
    #portfolio {
        height: 1280px;
    }
    .grupo-portfolio {
        scale: 70%;
        margin-top: -280px;
    }
}

@media screen and (max-width: 1314px) {
    .grupo-discord p, .grupo-github-contatos p {
        width: max-content;
    }
}
@media screen and (max-width: 1300px) {
    #inicio-ola {
        height: 758px;
    }
    .texto-e-foto-ola {
        scale: 70%;
        margin-top: -82px;
        margin-left: 15px;
    }
    .segundo-section-sobre-mim {
        scale: 70%;
        margin-top: -140px;
        margin-left: -200px;
    }
    .terceiro-section-habilidade {
        margin-top: -60px;
    }
    .grupo-dois-habilidades {
        scale: 65%;
        margin-top: -200px;
        margin-left: -230px;
    }
    #habilidade-conhecimento {
        height: 1000px;
    }
    .quarto-section-portfolio {
        margin-top: -65px;
    }
    .grupo-portfolio {
        scale: 65%;
        margin-left: -240px;
        margin-top: -330px;
    }
    #portfolio {
        height: 1180px;
    }
    .grupo-contatos {
        scale: 70%;
    }
}

@media screen and (max-width: 1200px) {
    .texto-e-foto-ola {
        scale: 60%;
        margin-top: -135px;
        margin-left: 0px;
    }
    #inicio-ola {
        height: 680px;
        
    }
    #sobre-mim {
        padding-top: 40px;
        height: 700px;
    }
    
    .segundo-section-sobre-mim {
        scale: 60%;
    }
    .segundo-section-sobre-mim-segundo h1 {
        margin-left: 365px;
    }
    #habilidade-conhecimento {
        height: 820px;
    }

    .grupo-dois-habilidades {
        scale: 55%;
        margin-top: -270px;
        margin-left: -215px;
    }
    .grupo-portfolio {
        scale: 55%;
        margin-top: -400px;
        margin-left: -225px;
    }
    #portfolio {
        height: 1000px;
    }
    .grupo-contatos {
        margin-top: 0px;
        scale: 65%;
        margin-left: -130px;
    }
}

@media screen and (max-width: 1100px) {
    .texto-e-foto-ola {
        margin-left: 15px;
    }
    .segundo-section-sobre-mim {
        margin-left: -240px;
    }
    .terceiro-section-habilidade {
        scale: 80%;
    }
    .grupo-dois-habilidades {
        scale: 52%;
        margin-left: -240px;
    }
    #portfolio {
        padding-top: 60px;
        height: 850px;
    }
    .quarto-section-portfolio h1 {
        scale: 70%;
        margin-left: 45px;

    }
    .grupo-portfolio {
        scale: 50%;
        margin-top: -465px;
        margin-left: -230px;
    }
    #contatos {
        height: 365px;
    }
    .quinto-section-contatos h1 {
        scale: 70%;
    }
}
